<template>
  <md-card class="order">
    <md-card-header>
      <h1 class="md-title">Оформление заказа</h1>
    </md-card-header>
    <form
      class="order__inputs"
      @submit.stop.prevent="submit">
      <md-input-container>
        <label>Телефон</label>
        <md-input
          @change="updatePhone"
          v-input-mask="'8-999-999-99-99'"
          v-model="phone">
        </md-input>
      </md-input-container>

      <template v-for="(fieldsGroup, type) in fields">
        <template v-for="field in fields[type]">
          <md-input-container>
            <label>{{field.label}}</label>
            <md-input v-model="field.value"></md-input>
          </md-input-container>
        </template>
      </template>

      <md-input-container>
        <label for="pay">Способ оплаты</label>
        <md-select v-model="pay" id="pay">
          <md-option value="Картой">Картой</md-option>
          <md-option value="Наличными">Наличными</md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label>Способ доставки</label>
        <md-select v-model="delivery">
          <md-option value="Самовывоз">Самовывоз</md-option>
          <md-option value="Доставка">Доставка</md-option>
        </md-select>
      </md-input-container>

      <md-button
        type="submit"
        style="margin-left: 20px;"
        class="md-raised md-accent">
        Отправить
      </md-button>
    </form>

    <md-dialog-alert
      :md-content="dialog.content"
      :md-ok-text="dialog.button"
      ref="dialog">
    </md-dialog-alert>
  </md-card>
</template>

<script>
  import Store from 'src/Store'

  export default {
    created () {
      this.initFields()

      Store
        .getItems()
        .then((items) => {
          this.items = items
        })

      this.$root.$on('updateCart', (cart) => {
        this.items = cart.items
      })

      this.$root.$on('updatePhone', (phone) => {
        if (this.validateTel(phone)) {
          this.phone = phone
          this.getUserInfo(phone)
        }
      })
    },
    data () {
      return {
        fields: {
          common: {},
          address: {
            first_name: {
              label: 'Введите имя',
              value: ''
            }
          },
          meta: {}
        },
        userId: 0,
        pay: 'Наличными',
        delivery: 'Самовывоз',
        phone: '',
        order: {},
        dialog: {
          content: 'Поля имя и телефон обязательны для заполнения',
          button: 'Хорошо'
        },
        items: [],
        coupon_lines: []
      }
    },
    methods: {
      initFields () {
        this.addAddress('Имя', 'first_name', true)
        this.addAddress('Фамилия', 'last_name')
        this.addAddress('Населенный пункт', 'city')
        this.addAddress('Улица', 'address_1')
        this.addAddress('Дом', 'address_2')
        this.addMeta('Подъезд', '_billing_address_pod')
        this.addMeta('Этаж', '_billing_address_et')
        this.addMeta('Квартира', '_billing_address_kv')
        this.addMeta('Количество персон', '_billing_address_count')
      },
      openDialog (ref) {
        this.$refs[ref].open()
      },
      closeDialog (ref) {
        this.$refs[ref].close()
      },
      validateTel (tel) {
        const regex = /[-_]/g
        return tel.replace(regex, '').length === 11
      },
      validate (data) {
        const name = data['billing_address']['first_name'] === ''
        const phone = data['billing_address']['phone']

        return name || !this.validateTel(phone)
      },
      add (label, name, required = false, value = '') {
        this.fields.common[name] = {
          label,
          name,
          required,
          value
        }
      },
      addAddress (label, name, required = false, value = '') {
        this.fields.address = Object.assign(
          this.fields.address,
          {
            [name]: {
              label,
              name,
              required,
              value
            }
          }
        )
      },
      addMeta (label, name, required = false, value = '') {
        this.fields.meta = Object.assign(
          this.fields.meta,
          {
            [name]: {
              label,
              name,
              required,
              value
            }
          }
        )
      },
      getFields (slug) {
        const address = {}

        for (let key in this.fields[slug]) {
          let name = this.fields[slug][key].name
          let value = this.fields[slug][key].value

          address[name] = value
        }

        if (slug === 'address') {
          const names = ['_billing_address_pod', '_billing_address_et', '_billing_address_kv', '_billing_address_count']

          for (let i = 0; i < names.length; i++) {
            let name = names[i]
            name = name.replace('_billing_', '')
            address[name] = this.fields['meta'][names[i]].value
          }
        }

        debugger
        return address
      },
      submit () {
        const order = {
          'sale': this.sale,
          'customer_id': this.userId,
          'payment_method': 'cod',
          'payment_method_title': this.pay,
          'set_paid': true,
          'billing_address': this.getFields('address'),
          'shipping_address': {},
          'line_items': this.items,
          'shipping_lines': [{
            'method_id': 'flat_rate',
            'method_title': this.delivery,
            'total': 0
          }],
          'order_meta': this.getFields('meta'),
          'coupon_lines': this.coupon_lines
        }

        order['billing_address']['phone'] = this.phone
        order['order_meta']['_billing_address_pay'] = this.pay
        order['order_meta']['_billing_delivery'] = this.delivery

        if (this.validate(order)) {
          this.$refs['dialog'].open()
          return
        }

        this.order = order

        this.prepareOrderForPrint()

        this.$root.$emit('printOrder', order)

        Store
          .createOrder(order)
          .then(() => {
            Store.clearCart()
            this.$root.$emit('updateCart', {})
            this.initFields()
            this.phone = ''
            this.$root.$emit('updatePhone', '')
          })
      },
      updatePhone (phone) {
        this.$root.$emit('updatePhone', phone)
      },
      getUserInfo (phone) {
        if (!this.validateTel(phone)) {
          return
        }

        Store
          .getUser(phone)
          .then((user) => {
            if (user.error) {
              return
            }

            if (this.fields.address['first_name'].value === '') {
              this.fields.address['first_name'].value = user.address['first_name']
            }

            if (this.fields.address['last_name'].value === '') {
              this.fields.address['last_name'].value = user.address['last_name']
            }

            if (this.fields.address['city'].value === '') {
              this.fields.address['city'].value = user.address['city']
            }

            if (this.fields.address['address_1'].value === '') {
              this.fields.address['address_1'].value = user.address['address_1']
            }

            if (this.fields.address['address_2'].value === '') {
              this.fields.address['address_2'].value = user.address['address_2']
            }

            if (this.fields.meta['_billing_address_pod'].value === '') {
              this.fields.meta['_billing_address_pod'].value = user.meta['_billing_address_pod']
            }

            if (this.fields.meta['_billing_address_et'].value === '') {
              this.fields.meta['_billing_address_et'].value = user.meta['_billing_address_et']
            }

            if (this.fields.meta['_billing_address_kv'].value === '') {
              this.fields.meta['_billing_address_kv'].value = user.meta['_billing_address_kv']
            }

            if (this.fields.meta['_billing_address_count'].value === '') {
              this.fields.meta['_billing_address_count'].value = user.meta['_billing_address_count']
            }

            this.userId = user['customer_id']

            if (user.coupon > 0) {
              this.sale = user.coupon
              this.$root.$emit('updateSale', user.coupon)
              this.coupon_lines = [
                {
                  code: this.phone,
                  discount: user.coupon
                }
              ]
            }
          })
      },
      prepareOrderForPrint () {
        Store.saveOrder(this.order)
      }
    }
  }
</script>

<style>
  .order {

  }

  .order__inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 16px;
  }

  .order__inputs .md-input-container {
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (min-height: 800px) {
    .order {
      flex-shrink: 0;
      overflow: hidden !important;
    }
  }
</style>
