<template>
  <div class="Catalog">
    <md-input-container>
      <label>Товар</label>
      <md-input v-model="query">
      </md-input>
    </md-input-container>

    <md-table class="Catalog_table">
      <md-table-header>
        <md-table-row>
          <md-table-head>
            Название
          </md-table-head>

          <md-table-head>
            Цена (руб.)
          </md-table-head>

          <md-table-head>
          </md-table-head>
        </md-table-row>
      </md-table-header>

      <md-table-body>
        <md-table-row
          v-for="(product, index) in getProducts()">
          <md-table-cell>
            {{product.title}}
          </md-table-cell>

          <md-table-cell>
            {{product.price}}
          </md-table-cell>

          <md-table-cell>
            <md-button
              v-if="product.type === 'simple'"
              @click="addToCart(product)"
              class="md-icon-button md-raised md-primary">
              <md-icon>add</md-icon>
            </md-button>

            <md-button
              v-if="product.type === 'variable'"
              @click="openModal(product)"
              class="md-icon-button md-raised md-primary">
              <md-icon>note_add</md-icon>
            </md-button>
          </md-table-cell>
        </md-table-row>
      </md-table-body>
    </md-table>
    <modal
      v-if="showModal"
      ref="modal"
      @close="showModal = false">
      <div class="modal-group" slot="header">
        <span class="md-title">
          {{product.title}}
        </span>

        <md-button
          @click="showModal = false">
          Закрыть
        </md-button>
      </div>

      <div slot="body">
        <template v-for="(attribute, key) in getAttributes()">
          <md-card-header>
            <span class="md-subheading">
              {{key}}
            </span>
          </md-card-header>
          <md-card-actions>
            <md-button
              v-for="option in attribute"
              @click="selectOption(key, option)"
              class="md-raised md-primary">
              {{option}}
            </md-button>
            <span style="flex: 1"></span>
          </md-card-actions>

          <md-button
            v-if="attributes"
            @click="resetAttributes()">
            Сбросить
          </md-button>

          <div class="modal-group" v-if="attributes">
            <span class="md-body-1">
              {{variations[0].price}} руб.
            </span>

            <md-input-container>
              <label>Количество</label>
              <md-input
                v-model="quantity"
                type="number">
              </md-input>
            </md-input-container>

            <md-button
              @click="addToCartVariable()"
              class="md-raised md-accent">
              Заказать
            </md-button>
          </div>
        </template>
      </div>
    </modal>
  </div>
</template>

<script>
import Store from 'src/Store'
import Fuse from 'fuse.js'
import indexOf from 'lodash.indexof'
import Modal from 'src/components/Modal'
import filter from 'lodash.filter'
import isObject from 'lodash.isobject'
import isArray from 'lodash.isarray'
import isNull from 'lodash.isnull'
import toArray from 'lodash.toarray'

export default {
  created () {
    Store.products().then((products) => {
      this.products = products
    })

    this.$root.$on('updateCategory', (category) => {
      this.category = category
    })
  },
  data () {
    return {
      showModal: false,
      query: '',
      searchFormFocus: false,
      products: [],
      product: {},
      variations: null,
      attributes: null,
      quantity: 1,
      category: ''
    }
  },
  methods: {
    addToCart (product) {
      Store
        .addToCart(product)
        .then((cart) => {
          this.$root.$emit('updateCart', cart)
        })
    },
    addToCartVariable () {
      Store
        .addToCart(
          this.product,
          this.quantity,
          this.variations[0]
        )
        .then((cart) => {
          this.$root.$emit('updateCart', cart)
        })

      this.showModal = false
      this.variations = null
      this.attributes = null
      this.quantity = 1
    },
    getProducts () {
      let products = toArray(this.products)

      if (this.category !== '' && this.query.trim() === '') {
        products = filter(products, (o) => {
          return indexOf(o.categories, this.category) !== -1
        })
      }

      if (this.query.trim() === '') {
        return products
      } else {
        const options = {
          shouldSort: true,
          threshold: 0.6,
          location: 0,
          distance: 100,
          maxPatternLength: 32,
          minMatchCharLength: 1,
          keys: [
            'title',
            'categories'
          ]
        }
        const fuse = new Fuse(products, options)

        return fuse.search(this.query)
      }
    },
    openModal (product) {
      this.showModal = true
      this.product = product
    },
    getAttributes () {
      return isNull(this.attributes) ? this.product.attributes : this.attributes
    },
    selectOption (name, option) {
      const variations = isObject(this.variations) ? this.variations : this.product.variations

      this.variations = filter(variations, (product) => {
        return product.attributes[name] === option || product.attributes[name] === ''
      })

      let attributes = {}
      for (let variation of this.variations) {
        for (let attribute in variation.attributes) {
          if (isArray(attributes[attribute])) {
            attributes[attribute].push(variation.attributes[attribute])
          } else {
            attributes[attribute] = [variation.attributes[attribute]]
          }
        }
      }
      this.attributes = attributes
    },
    resetAttributes () {
      this.variations = null
      this.attributes = null
    }
  },
  components: {
    Modal
  }
}
</script>

<style>
  .Catalog {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .Catalog_table {
    overflow-y: scroll;
  }
</style>
