<template>
  <div class="print">
    <h3>Товары</h3>
    <ul>
      <li v-for="item in order.line_items">
        <strong>{{item.title}} x {{item.quantity}};</strong> {{item.property.toString()}}
      </li>
    </ul>

    <h4 v-if="order.sale > 0">
      Подытог: {{getCartTotal()}} руб.<br>
      Скидка: 10%<br>
      Итог: {{getCartSale()}}
    </h4>
    <h4 v-else>Итог: {{getCartTotal()}} руб.</h4>

    <p>
      <b>Доставка:</b> {{order.shipping_lines[0].method_title}}<br>
      <b>Способ оплаты:</b> {{order.payment_method_title}}
    </p>

    <h4>Информация о клиенте</h4>
    <p>
      {{order.billing_address.first_name}} {{order.billing_address.last_name}}, {{order.billing_address.phone}}<br>
      <template v-if="order.billing_address.city">
        г. {{order.billing_address.city}},
      </template>

      <template v-if="order.billing_address.address_1">
        ул. {{order.billing_address.address_1}},
      </template>

      <template v-if="order.billing_address.address_2">
        д. {{order.billing_address.address_2}}
      </template>
      <br>

      <template v-if="order.order_meta._billing_address_pod">
        под. {{order.order_meta._billing_address_pod}},
      </template>

      <template v-if="order.order_meta._billing_address_et">
        эт. {{order.order_meta._billing_address_et}},
      </template>

      <template v-if="order.order_meta._billing_address_kv">
        кв. {{order.order_meta._billing_address_kv}}
      </template>

      <br>

      <template v-if="order.order_meta._billing_address_count">
        Количество персон {{order.order_meta._billing_address_count}}
      </template>
    </p>
  </div>
</template>

<script>
  import Store from 'src/Store'

  export default {
    created () {
      Store
        .getOrder()
        .then((data) => {
          this.order = data
        })

      this.$root.$on('printOrder', (order) => {
        this.order = order
        setTimeout(() => {
          window.print()
        }, 100)
      })
    },
    data () {
      return {
        order: {}
      }
    },
    methods: {
      getCartTotal () {
        let total = 0
        for (let key in this.order.line_items) {
          let item = this.order.line_items[key]
          total += item.price * item.quantity
        }
        return total
      },
      getCartSale () {
        return this.getCartTotal() - this.getCartTotal() * (this.order.sale / 100)
      }
    }
  }
</script>

<style>
  .print {
    font-size: 1.2em;
    padding-left: 10mm;
  }

  @media print {
    .print {
      display: block;
    }
  }
</style>
