<template>
  <div class="category">
    <md-input-container>
      <label>Категория</label>
      <md-input v-model="query">
      </md-input>
    </md-input-container>

    <md-list class="md-dense category__list">
      <md-list-item
        v-for="category in getCategories()"
        :class="{'md-primary': category === current}"
        @click="selectCategory(category)">
        <span>{{category}}</span>
      </md-list-item>
    </md-list>
  </div>
</template>

<script>
  import Store from 'src/Store'
  import Fuse from 'fuse.js'

  export default {
    created () {
      Store
        .categories()
        .then((categories) => {
          this.categories = categories
        })
    },
    data () {
      return {
        query: '',
        categories: [],
        current: ''
      }
    },
    methods: {
      getCategories () {
        if (this.query.trim() === '') {
          return this.categories
        } else {
          const options = {
            shouldSort: true,
            threshold: 0.6,
            location: 0,
            distance: 100,
            maxPatternLength: 32,
            minMatchCharLength: 1,
            keys: []
          }
          const fuse = new Fuse(this.categories, options)
          const result = fuse.search(this.query)
          const category = []

          for (let i = 0; i < result.length; i++) {
            category.push(this.categories[result[i]])
          }

          return category
        }
      },
      selectCategory (category) {
        if (this.current === category) {
          this.current = ''
        } else {
          this.current = category
        }
        this.$root.$emit('updateCategory', this.current)
      }
    }
  }
</script>

<style>
  .category {
    display: flex;
    flex-direction: column;
    height: 100%;

    overflow: auto;
  }

  .category__list {
    overflow: auto;
  }
</style>
