.page {
  margin: 0 auto;
}

.main {
  display: flex;
  height: 100vh;
  overflow: hidden;

  border-bottom: 1px solid #7f7f7f;

  &_col {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px 30px;
    box-sizing: border-box;

    border-right: 1px solid #7f7f7f;

    &.--catalog {
      width: 40%;
    }

    &.--category {
      width: 20%;
    }

    &.--cart {
      width: 40%;
    }

    &:last-of-type {
      border-right: 0;
    }
  }
}

.md-headline.--caption {
  margin: 0;
}

.print {
  display: none;
}

@media (min-height: 800px) {
  .page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

@media print {
  html,
  body,
  .page {
    height: auto !important;
  }

  .page > * {
    display: none !important;
  }

  .page .print {
    display: block !important;
  }
}
