<template>
  <div class="page">
    <main class="main">
      <div class="main_col --category">
        <h2 class="md-headline --caption">
          Категории
        </h2>

        <category></category>
      </div>

      <div class="main_col --catalog">
        <h2 class="md-headline --caption">
          Товары
        </h2>

        <catalog></catalog>
      </div>

      <div class="main_col --cart">
        <h2 class="md-headline --caption">
          Информация о заказе
        </h2>

        <cart></cart>
      </div>
    </main>

    <order></order>

    <print></print>
  </div>
</template>

<script>
  import Cart from 'src/components/Cart'
  import Catalog from 'src/components/Catalog'
  import Category from 'src/components/Category'
  import Order from 'src/components/Order'
  import Print from 'src/components/Print'

  export default {
    data () {
      return {
        currentCategory: ''
      }
    },
    components: {
      Catalog,
      Cart,
      Category,
      Order,
      Print
    }
  }
</script>

<style lang="scss" src="./main.scss"></style>
