<template>
  <md-card class="Page product" v-if="product">
    <div class="product__wrap">
      <div class="product__col">
        <md-card-header>
          <div class="md-title">{{product.title}}</div>
          <div class="md-subhead">
            {{product.categories.toString()}}
          </div>
          <h2
            v-if="getPrice()"
            class="md-body-2">
            Цена: {{getPrice()}} руб.
          </h2>
        </md-card-header>

        <template v-for="attribute in attributes">
          <md-card-header>
            <span class="md-subheading">
              {{attribute.name}}
            </span>
          </md-card-header>
          <md-card-actions v-if="attribute.visible">
            <md-button
              v-for="option in attribute.options"
              @click="selectOption(attribute.slug, option)"
              class="md-raised md-primary">
              {{option}}
            </md-button>
            <span style="flex: 1"></span>
          </md-card-actions>
        </template>

        <md-button
          v-if="product.type === 'variable' && variations"
          @click="init()">
          Сбросить
        </md-button>

        <div style="margin-top: 20px;"></div>

        <template v-if="canAddToCart()">
          <md-input-container>
            <label>Количество</label>
            <md-input
              v-model="quantity"
              type="number">
            </md-input>
          </md-input-container>

          <md-button
            @click="addToCart()"
            class="md-raised md-accent">
            Заказать
          </md-button>
        </template>


        <md-card-header>
          <span
            v-if="product.type === 'variable' && !variations"
            class="md-body-1">
            Выберите вариант
          </span>
        </md-card-header>

        <md-card-content>
          {{product.description}}
        </md-card-content>
      </div>

      <md-card-media class="product__col">
        <img :src="product.featured_src" alt="Нет фото">
      </md-card-media>
    </div>
  </md-card>
</template>

<script>
  import Store from '../../Store'
  import find from 'lodash.find'
  import filter from 'lodash.filter'
  import isArray from 'lodash.isarray'
  import uniq from 'lodash.uniq'

  export default {
    created () {
      this.init()
    },
    data () {
      return {
        product: false,
        attributes: {},
        defaultAttributes: {},
        select: true,
        variation: false,
        quantity: 1
      }
    },
    methods: {
      init () {
        Store.product(this.$route.params.id)
          .then((product) => {
            this.product = product
            this.variations = false

            this.setDefaultAttributes()
          })
          .catch((error) => {
            console.error('Товар не найден', error)
          })
      },
      isSimple () {
        return this.product.type === 'simple'
      },
      isVariable () {
        return this.product.type === 'variable'
      },
      setDefaultAttributes () {
        for (let attribute of this.product.attributes) {
          this.attributes[attribute.slug] = attribute
        }
      },
      selectOption (slug, option) {
        this.variations = filter(this.product.variations, (product) => {
          const attribute = {
            slug: slug,
            option: option.replace(' ', '-')
          }
          return find(product.attributes, (attr) => {
            const eqSlug = attribute.slug === decodeURI(attr.slug)
            const eqOption = attribute.option === decodeURI(attr.option)

            return eqSlug && eqOption
          })
        })

        let attributes = []
        for (let variation of this.variations) {
          for (let attribute of variation.attributes) {
            const slug = encodeURI(attribute.slug)
            const option = encodeURI(attribute.option)

            if (option === '') {
              continue
            }

            if (isArray(attributes[slug])) {
              attributes[slug].push(option)
              attributes[slug] = uniq(attributes[slug])
            } else {
              attributes[slug] = [option]
            }
          }
        }

        for (let attribute in attributes) {
          let options = attributes[attribute]
          let attr = decodeURI(decodeURI(attribute))

          for (let i = 0; i < options.length; i++) {
            options[i] = decodeURI(decodeURI(options[i])).replace('-', ' ')
          }
          this.attributes[attr].options = options
        }
      },
      isSelectOption (slug, option) {
        if (this.options[slug]) {
          return this.options[slug] === option
        }

        return this.select
      },
      addToCart () {
        if (this.isSimple()) {
          Store.addToCart(this.product, this.quantity)
        }

        if (this.isVariable() && this.variations) {
          Store.addToCart(this.product, this.quantity, this.variations[0])
        }
      },
      getPrice () {
        let price = false
        if (this.product.type === 'simple') {
          price = this.product.price
        } else if (this.product.type === 'variable' && this.variations) {
          price = this.variations[0].price
        }

        return price
      },
      canAddToCart () {
        const type = this.product.type
        const isSimple = type === 'simple'
        const isVariable = type === 'variable' && this.variations

        return isSimple || isVariable
      }
    }
  }
</script>

<style>
  .product {

  }

  .product__wrap {
    display: flex;
    justify-content: space-between;
  }

  .product__col {
    width: 50%;
  }
</style>
